PORT=5000
MONGODB_URI=mongodb+srv://cliffordobure98_db_user:cliff0759466446@xpath2.uu01ygk.mongodb.net/?appName=xpath2
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NODE_ENV=development